{% extends 'base.html' %}
{% block content %}
<div class="p-3 mb-5">
  <h1 style="color:red">Movie Recommendation</h1>
  <h3 style="color:red">Enter the Hollywood movie </h3>
</div>

  <form action="{{url_for('recommend')}}">
    <input type="text" name="movie" class="form-control" placeholder="Movie name ">
    <br>
    <input type="submit" class="btn btn-danger" value="Enter">
  </form>
  <br>

  
    <ul class="list-group list-group-flush">
        {% for m in r %}
        <li class="list-group-item" style="color:rgb(0, 0, 0)"><strong>{{m|capitalize}}</strong></li>
        {% endfor %}
    </ul>
{% endblock %}
