{% extends 'base.html' %}
{% block content %}

{% if t=='s' %}
<div class="p-3 mb-5">
    <h3 style="color:red">Sorry! This movie is not in our database.</h3>
    <h3 style="color:red">Please check if you spelled it correct.</h3>
    <h3 style="color:red">Or try with another movie.</h3>
</div>

{% else %}
<div class="p-3 ">
    <h1 style="color:red">"{{movie}}" is a great choice.</h1>
    <h3 style="color:red">Here are some more like this</h3>
</div>


<ul class="list-group list-group-flush">
    {% for m in r %}
    <li class="list-group-item" style="color:rgb(0, 0, 0)"><strong>{{m|capitalize}}</strong></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}